{
    "rules": {
        "indent": [2, 2, {"SwitchCase": 1}],
        "linebreak-style": [
            2,
            "unix"
        ],
        "max-len": 1,
        "no-console": 0,
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "browser": true,
        "mocha": true,
        "node": true
    },
    "extends": "eslint:recommended"
}
